html {
    background-color: #2f2f2f;
    color: #eee;
    height: 100%;
    font-family: Consolas, monospace;
}

#drivesList button {
    background-color: #333f46;
    padding: 5px 10px 5px 10px;
    margin: 0 3px 0 3px;
    border: 1px solid #222;
    border-radius: 2px;
    color: #eee;
    font-size: 1.5rem; 
}

#drivesList button:hover {
    background-color: #4c606b;
}

#drivesList {
    display: flex;
    flex-wrap: nowrap;
}

#output button, #outputFolder button, #outputSubfolder button {
    display: block;
    background-color: #333f46;
    padding: 2px 5px 2px 5px;
    margin: 3px 0 3px 0;
    border: 1px solid #222;
    border-radius: 2px;
    color: #eee;
}

#output button:hover, #outputFolder button:hover {
    background-color: #4c606b;
}

#main {
    display:flex;
}

.output {
    margin: 0 30px 0 30px;
    padding: 5px 10px 5px 10px;
    border: 1px solid rgba(255,255,255,0.1);
    min-width: 400px;
}

.btnSelected {
    background-color: #4b6e4b !important;
}
.btnSelected:hover {
    background-color: #679867 !important;
}